a:focus{outline: none;}
.menu>ul>li>a.active{
  color: rgb(235, 0, 5);
  border: 1px solid rgb(235, 0, 5);
  border-radius: 2px;
  -webkit-transition: 0.15s ease-in-out 0.2s;
  -moz-transition: 0.1s ease-in-out 0.2s;
  -o-transition: 0.1s ease-in-out 0.2s;
  transition: 0.15s ease-in-out 0.2s;
  outline: 0;
}

.header-top{
	transition:0.3s all;
}
.container-fluid.header-container.header-top{
	height: 45px;
}
.header-top .logo{
	margin-top:2px; 
}
.header-top .logo, .header-top .logo img{
	transition:0.3s all;
	height: 35px;
	width: 105px;
}
.header-top .menu>ul>li>a{
	margin: 10px 15px;
}
.header-top .menu, .menu>ul{
	height: 50px;
}
.login-but{
	    text-align: center;
    margin-top: 10px;
    font-family: 'calibri';
    color: #00376c;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.popup-login{
	padding-bottom: 40px;
	min-height: 100px;
	background: #00376c;
	width: 200%;
	left: -100%;
	position: absolute;
	display: none;
	top:46px;
}
.tittle-log{
	text-align: center;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 40px;
}
.pop-log input{
	margin-top: 20px;
	width: 80%;
	margin-left: 10%;
	padding: 5px;
	font-family: 'calibri';
	font-size: 16px;
	color:#00376c;
}
.pop-log input[type='submit']{
	border:0;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'calibri';
	color: white;
	background: #ff1d25;
}
.pop-log a{
	margin-top: 20px;	
	color: white;
	text-align: center;
}
.pricing .owl-carousel{
	display: none;
}
.owl-carousel .offer-box-2{
	display: none;
	float: none;
	margin-bottom: 45px;
	text-align: center;
	max-width: 250px;
}
.owl-nav{position: relative;}
.owl-prev{
	height: 38px;
	width: 38px;
	background: url(../img/navigation-previous.png)no-repeat;
	color:transparent;
	position: absolute;
	left: 15px;
	display: inline-block;
	bottom: 150px;
}
.owl-next{
	display: inline-block;
	right: 10px;
	height: 38px;
	width: 38px;
	position: absolute;
	background: url(../img/navigation-next.png)no-repeat;
	color:transparent;
	bottom: 150px;
}
.slider-box .owl-carousel div{
	display: none;
	text-align: center;
}
.slider-box .owl-carousel div img{
	max-width: 350px;
	margin: 0 auto;	

}
.slider-box .owl-carousel{
	margin-top: 35px;
}
.slider-box .owl-carousel .owl-prev, .slider-box .owl-carousel .owl-next{
	bottom: 100px;
}
.side-bar{
	min-height: 700px;
	/*width: 200px;*/
	background: #ffffff;
	float: left;
	position: relative;
	bottom: 28px;
	    border: 1px solid #d6d6d6;
}
.side-bar-head{
	width: 100%;
	height: 100px;
	background: #00376c;
	box-sizing:border-box;
	padding: 0 15px;
}
.pricing-box div{

}
.prifile-name{
	font-size: 14px;
	font-family: "calibri";
	color: white;
	text-align: center;
	padding: 15px 0px 15px 30px;
	border-bottom: 1px solid #3f668e;
}
.prifile-name p{
	text-align: left;
	position: relative;
}
.prifile-name p:after{
	height:5px;
	width:5px;
	position: absolute;
	content: "";
	background: #1ed700;
	border-radius: 5px;
	left: -15px;
	top:7px;
}
.profile-search{
	text-align: center;
}
.profile-search input[type='text']{
	border: 0;
	background: #174c7f;
	color: #86bdf2;
	font-size: 14px;
	border-radius: 3px;
	width: 90%;
	padding: 5px 15px;
	margin-top: 10px;
	box-sizing:border-box;
}
.profile-container .pricing-box{
	margin-top: 50px;
}
.side-bar-menu{
	width: 90%;
	margin: 0 auto;
}
.side-bar-menu li{
	border:1px solid transparent;
	box-sizing:border-box;
	margin-top: 7px;
	padding: 5px 0px 5px 45px;
	text-transform: uppercase;
	color: #00376c;
	font-size: 14px;
	font-family: "calibri";
	border-radius: 5px;
	cursor: pointer;
	transition:0.3s all;
}
.side-bar-menu li:hover{
	color: #eb0005;
	border: 1px solid #ed1a23;
}
.credit-block div{
	border-radius: 5px 5px 0 0;
}
.side-bar-menu .dashboard{
	background: url(../img/icon/dashboard.png)no-repeat 15px center;
}
.side-bar-menu .dashboard:hover{
	background: url(../img/icon/dashboard-h.png)no-repeat 15px center;
}
.side-bar-menu .buy-credit{
	background: url(../img/icon/buycredit.png)no-repeat 15px center;
}
.side-bar-menu .buy-credit:hover{
	background: url(../img/icon/buycredit-h.png)no-repeat 15px center;
}
.side-bar-menu .invoices{
	background: url(../img/icon/invoices.png)no-repeat 15px center;
}
.side-bar-menu .invoices:hover{
	background: url(../img/icon/invoices-h.png)no-repeat 15px center;
}
.side-bar-menu .settings{
	background: url(../img/icon/setting.png)no-repeat 15px center;
}
.side-bar-menu .settings:hover{
	background: url(../img/icon/setting-h.png)no-repeat 15px center;
}
.side-bar-menu .contact{
	background: url(../img/icon/contact.png)no-repeat 15px center;
}
.side-bar-menu .contact:hover{
	background: url(../img/icon/contact-h.png)no-repeat 15px center;
}
.side-bar-menu .log-out{
	background: url(../img/icon/log-out.png)no-repeat 15px center;
}
.side-bar-menu .log-out:hover{
	background: url(../img/icon/log-out-h.png)no-repeat 15px center;
}
.col-blue{
	color: #00376c;
}
.col-red{
	color: #d00b12;
}
.p-stats{
	font-size: 26px;
	font-family: 'calibri';
	font-weight: bold;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	padding: 3px 15px;
	margin: 5px;
}
.p-stats sup{
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
}
.email-ico {
  background-image: url(../img/email.png);
  background-repeat: no-repeat;
  background-position: 0 4.5px;
}
.profile-container .contact-box,.profile-container .feedback-box{
	min-height: 125px;
	margin-bottom: 25px;
}
.profile-container  .feedback-group,.profile-container  .feedback-control{
width: 100%;
}
.side-bar-menu .dashboard.active-sb,.side-bar-menu .buy-credit.active-sb,.side-bar-menu .invoices.active-sb,
.side-bar-menu .settings.active-sb,.side-bar-menu .contact.active-sb,.side-bar-menu .log-out.active-sb{color: #eb0005;border: 1px solid #ed1a23;}

.side-bar-menu .dashboard.active-sb{
	background: url(../img/icon/dashboard-h.png)no-repeat 15px center;
}
.side-bar-menu .buy-credit.active-sb{
	background: url(../img/icon/buycredit-h.png)no-repeat 15px center;
}
.side-bar-menu .invoices.active-sb{
	background: url(../img/icon/invoices-h.png)no-repeat 15px center;
}
.side-bar-menu .settings.active-sb{
	background: url(../img/icon/setting-h.png)no-repeat 15px center;
}
.side-bar-menu .contact.active-sb{
	background: url(../img/icon/contact-h.png)no-repeat 15px center;
}
.side-bar-menu .log-out.active-sb{
	background: url(../img/icon/log-out-h.png)no-repeat 15px center;
}
.arrow-sb{
	width: 25px;
	height: 250px;
	background: red;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 1000;
	background: url(../img/menu-arrow-o.png)center no-repeat,#00376c;
	cursor: pointer;
	display: none;
	opacity: 0.9;
}
.footer{
	position: relative;
	z-index: 100000;
}
/*setting*/
.setting{
	width: 100%;
	min-height: 150px;
	background: white;
	border: 1px solid #d6d6d6;
	padding-top: 20px;
	padding-bottom: 20px;    
	overflow: inherit;
	padding-right: 10px;
}
form.setting label{
	color: #0c0c0c;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'calibri';

}
form.setting table{
	margin-left: 30px;
}
form.setting td{
	padding-top: 15px;
}
.sett-name{
	line-height: 1.5;
	text-align: right;
	padding-right: 25px;
	width: 250px;
}
form.setting table input[type="text"],form.setting table input[type="email"],form.setting table input[type="password"]{
	border-radius: 3px;
	border:1px solid #d6d6d6;
	box-sizing:border-box;
	height: 26px;
	width: 250px;
	padding-left: 10px;
	font-size: 14px;
	color: #00376c;
}
form.setting table input:focus{
	border:1px solid black;
	box-shadow: 1px 1px 2px gray,-1px -1px 2px gray;
	outline: none;
}
form.setting .check-email label{
	font-size: 14px;
	text-transform: none;
	padding-left: 10px !important;
}
td.sett-input{
	padding-left: 15px;
}
td.sett-input label{
	padding-left: 0 !important;
	padding-right:10px;
}
td.sett-input input[type="checkbox"]{
	position: relative;
	margin-right: 20px;
}
td.sett-input input[type="submit"]{
	border:1px solid #d6d6d6;
	background: #efefef;
	color: #ff1d25;
	font-weight: bold;
	padding: 2px 10px;
}
td.sett-input input[type="submit"]:hover{
	box-shadow: 0px 1px 2px gray;
}
td.sett-input input[type="submit"]:active{
	box-shadow: 0px -1px 2px gray;
	border:1px solid #d6d6d6;
}
td.sett-input input[type="submit"]:focus{
	box-shadow: 0px -1px 2px gray;
	border:1px solid #d6d6d6;
}
.selectric-wrapper{
	border:1px solid #d6d6d6;
	border-radius: 3px;
}
.sett-input button{
	font-size: 18px;
	text-transform: uppercase;
	color: white;
	background: #ff1d25;
	padding: 4px 20px;
	border:0;
}
td.sett-input input[type="checkbox"]:after{
	height: 25px;
	width: 25px;
	position: absolute;
	left: -7px;
	top: -7px;
	content: '';
	background: url(../img/checkbox.png)no-repeat center, white;
}
td.sett-input input[type="checkbox"].check-active:after{
	background: url(../img/checkbox-h.png)no-repeat center, white;

}
.block-container{
	margin-top: 20px;
}
.save-adaptive{
	display: none;
	float: right;
}
.filter{
	width: 100%;
	min-height: 50px;
	border:1px solid #5d93c9;
	background:white;
}
.selectric-sorting-sel{
	width: 250px;
	float: left;
	margin-top: 10px;
}
.sorting span{
	float: left;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 50px;
	padding: 0 15px;
}
.sorting .sort-link{
	padding-left: 35px;
	display: inline-block;
}
.sorting a{
	font-size: 16px;
	text-transform: uppercase;
	color: #00376c;
	line-height: 47px;
	padding-left: 10px;
}
.sorting a.active-sort{
	color: #ff1d25;
	text-decoration: underline !important;
}
.invoices-block{
	width: 100%;
	min-height:150px; 
}
.invoices-block{
	margin-top: 20px;
	background: white;
	border:1px solid #d6d6d6;
}
.invoices-block table{
	width: 100%;
}
.invoices-block table .name-invoices{
	height: 45px;
	text-align: center;
	font-size: 18px;
	color: #00376c;
}
.invoices-block table td{
	border-bottom: 1px solid #d6d6d6;
	text-align: center;
	font-size: 16px;
	color: black;
	height: 50px;
}
.dz-default.dz-message span{
	font-size: 18px;
	color: #00376c;
	margin-bottom: 15px;
	display: inline-block;
}
.drop .dropzone{
	border:1px solid #d6d6d6;
}
.drop .dropzone a{
	background: #ff1d25;
	color: white;
	padding: 7px 20px;
	font-size: 18px;
	margin-top: 10px;
	text-transform: uppercase;
}
.drop .dropzone a:hover{
	background: #cd1219;

}
.drop .dropzone .dz-message{
    margin: 0;
    padding: 2em 0;
    border: 1px dashed #3f668e;
}
.dashboad-project{
    border: 1px solid #d6d6d6;
	background: white;
	min-height: 100px;
	margin-top: 20px;
	position: relative;
}
.dash-proj-title{
	padding-top: 5px;
	color: #0c0c0c;
	font-size: 22px;
	text-transform: uppercase;
	position: relative;
	padding-right: 15px;
	border-bottom: 1px solid #d6d6d6;
	margin: 0 15px;
	padding-left: 15px;
	padding-bottom: 5px;
}
.dash-proj-title:after{
	content: '';
	height: 20px;
	width: 4px;
	position: absolute;
	left: 0px;
	top: 10px;	
	background: #ff2f33;
}

.dash-proj-title span{
	font-size: 18px;
	color: #00376c;
	text-transform: none;
	    display: inline-block;
    max-width: 500px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
     vertical-align: text-bottom;
}
.exit-project{
	background: url(../img/exit-p.png)no-repeat center;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0px;
	top: 6px;
	cursor: pointer;
}
.hide-project{
	background: url(../img/hide-p.png)no-repeat center;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 30px;
	top: 6px;
	cursor: pointer;
	transition:0.3s all;
}
