.menu>ul>li>a.active{
  color: rgb(235, 0, 5);
  border: 1px solid rgb(235, 0, 5);
  border-radius: 2px;
  -webkit-transition: 0.15s ease-in-out 0.2s;
  -moz-transition: 0.1s ease-in-out 0.2s;
  -o-transition: 0.1s ease-in-out 0.2s;
  transition: 0.15s ease-in-out 0.2s;
  outline: 0;
}

.header-top{
	transition:0.3s all;
}
.container-fluid.header-container.header-top{
	height: 45px;
}
.header-top .logo{
	margin-top:2px; 
}
.header-top .logo, .header-top .logo img{
	transition:0.3s all;
	height: 35px;
	width: 105px;
}
.header-top .menu>ul>li>a{
	margin: 10px 15px;
}
.header-top .menu, .menu>ul{
	height: 50px;
}
.login-but{
	    text-align: center;
    margin-top: 10px;
    font-family: 'calibri';
    color: #00376c;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}
.popup-login{
	padding-bottom: 40px;
	min-height: 100px;
	background: #00376c;
	width: 200%;
	left: -100%;
	position: absolute;
	display: none;
	top:46px;
}
.tittle-log{
	text-align: center;
	color: white;
	font-size: 22px;
	text-transform: uppercase;
	margin-top: 40px;
}
.pop-log input{
	margin-top: 20px;
	width: 80%;
	margin-left: 10%;
	padding: 5px;
	font-family: 'calibri';
	font-size: 16px;
	color:#00376c;
}
.pop-log input[type='submit']{
	border:0;
	text-transform: uppercase;
	font-size: 22px;
	font-family: 'calibri';
	color: white;
	background: #ff1d25;
}
.pop-log a{
	margin-top: 20px;	
	color: white;
	text-align: center;
}
.pricing .owl-carousel{
	display: none;
}
.owl-carousel .offer-box-2{
	display: none;
	float: none;

	text-align: center;
}
.owl-nav{position: relative;}
.owl-prev{
	height: 38px;
	width: 38px;
	background: url(../img/navigation-previous.png)no-repeat;
	color:transparent;
	position: absolute;
	left: 15px;
	display: inline-block;
	bottom: 150px;
}
.owl-next{
	display: inline-block;
	right: 10px;
	height: 38px;
	width: 38px;
	position: absolute;
	background: url(../img/navigation-next.png)no-repeat;
	color:transparent;
	bottom: 150px;
}
.slider-box .owl-carousel div{
	display: none;
}
.slider-box .owl-carousel{
	margin-top: 35px;
}
.slider-box .owl-carousel .owl-prev, .slider-box .owl-carousel .owl-next{
	bottom: 100px;
}